.footer {
  @apply mb-4 sm:mb-3; /* mt-16 */
  background: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);
}

.footer-inner {
  @apply container;
  box-shadow: none;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  padding-top: 60px !important;
  margin-top: 0 !important;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}
.secondFooterWrap {
  background-color: #fff;
}
.secondFooter {
  @apply flex items-center container pt-3;
}

@screen sm {
  .footer-inner {
    padding: calc(theme("spacing.10") - theme("borderWidth.2"));
  }
}

.menu {
  @apply list-none mb-8;
  margin-right: 30px;
}

.menu li + li {
  @apply mt-2;
}

.menu-heading {
  @apply block text-md font-bold mb-4 cursor-pointer hover:underline;
  margin-bottom: 30px;
  color: #fff;
}

.menu-link {
  @apply text-base cursor-pointer hover:underline;
  color: #fff;
  font-weight: 400;
}
/* .menu-link:hover {
  color: #000;
} */
