@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue {
    @apply py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .checkout-section-container {
    @apply bg-white rounded p-4 border;
  }

  .checkout-section-header-active {
    @apply text-lg font-medium text-gray-900;
  }
  .checkout-section-header-disabled {
    @apply text-lg font-medium text-gray-400;
  }

  .btn-checkout-section {
    @apply w-full bg-blue-100 border border-blue-300 rounded-md shadow-sm py-2 px-4 text-base font-medium hover:bg-blue-200;
  }
}

.dropdown:focus-within .dropdown-menu {
  opacity: 1;
  transform: translate(0) scale(1);
  visibility: visible;
}
.image-gallery-image {
  transition: 0.1s;
  overflow: hidden;
}
.image-gallery-image:hover {
  transform: scale(1.8);
  transition: 0.2s;
}
.image-gallery-svg {
  width: 40px !important;
  background-color: #f3f4f6;
  height: 40px !important;
  stroke: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  stroke-width: 2px;
}
.image-gallery-svg:focus {
  outline: none !important;
}
.image-gallery-icon {
  filter: none !important;
}
.image-gallery-thumbnail {
  width: 80px;
  border-radius: 15px;
}
.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border: 2px solid #7074df !important;
  border-radius: 15px;
}
.image-gallery-thumbnail:hover {
  outline: none;
  border: 2px solid #7074df !important;
  border-radius: 15px;
}
.fav-icon {
  display: flex;
  justify-content: end;
  cursor: pointer;
}
.fav-icon svg {
  background-color: #f3f4f6;
  padding: 10px;
  width: 45px;
  height: 45px;
  border-radius: 10px;
}
.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-content.fullscreen {
  background: #fff !important;
}
.image-gallery-play-button svg {
  width: 50px !important;
  height: 50px !important;
  padding: 12px;
  stroke: #7b7b7b;
}
.image-gallery-play-button {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 50px;
  height: 50px;
}
.attribute-item {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 12px;
  padding: 20px;
}
html {
  font-size: 62.5%;
}
@import "~react-image-gallery/styles/css/image-gallery.css";
