@tailwind components;

@layer components {
  .checkout-form-container {
    @apply flex flex-col items-end lg:w-1/2 px-10;
  }
  .checkout-form {
    @apply border-0 border-border-secondary rounded-lg flex flex-col w-full;
  }

  .section {
    @apply px-4 pt-5 pb-6;
  }

  .actions {
    @apply flex flex-row w-full justify-end items-center;
  }

  .pay-button {
    background-color: #000 !important;
    border-color: transparent !important;
    border-radius: 14px;
    height: 5rem !important;
    width: 60% !important;
    @apply md:w-28 self-end mt-5;
  }
  .pay-button:hover {
    background-color: transparent !important;
    border: 1px solid #000 !important;
  }
}
